.title {
    padding-top: 30px;
    font-size: 36px;
    font-weight: 400;
}

.text {
    font-size: 24px;
}

.total {
    font-size: 30px;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 1rem;
    span {
        color: #2e7315;
    }
}

.input {
    border: none;
    outline: none;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    width: 100px;
    text-align: center;
    font-size: 24px;
    margin: 0px 5px;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
}

@media (max-width: 425px) {
    .title {
        font-size: 24px;
    }

    .input {
        font-size: 18px;
    }

    .text {
        font-size: 20px;
    }
    .total {
        font-size: 24px;
    }
}
